@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=BIZ+UDPGothic&family=Bebas+Neue&family=Fjalla+One&family=Josefin+Sans&family=Josefin+Slab:wght@100&family=Merriweather:wght@300&family=Montserrat:wght@200;500&family=Prompt:wght@500&family=Raleway:wght@100;200&family=Roboto&family=Roboto+Condensed&family=Rubik+Mono+One&family=Tajawal:wght@200&family=Teko&display=swap');

.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background: var(--color-bg);
    padding: 2.4rem 5rem;
    border: 1px solid var(--color-primary);
    transition: var(--transition)
}

.experience__container > div:hover {
    background-color: #cbd5de;
    cursor: default;
}

h5 {
    margin-bottom: 3rem;
 
}

.experience__content_hard h4{
    font-family:'Raleway', sans-serif;
    color: var(--color-primary);
    text-decoration: underline overline #d6eadf 5px;
    text-align: center;

}

.experience__content_hard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    justify-items: center;
}

.experience__content_soft h4{
    font-family:'Raleway', sans-serif;
    color: var(--color-primary);
    text-decoration: underline overline #d6eadf 5px;
    text-align: center;

}

.experience__content_soft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    justify-items: center;
}


.experience__details {
    display: flex;
    gap: 1rem;
    color: var(--color-primary);
}


/* MEDIA QUERIES (medium) */

@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }
}



/* MEDIA QUERIES (Small) */

@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}